.home {
  margin-bottom: 2px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    max-height: 100vh;

    @include m($xl) {
      min-height: 80vh;
      max-height: 80vh;
    }

    @include m($lg) {
      min-height: 70vh;
      max-height: 70vh;
    }

    @include m($md) {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding: 105px 0 100px;
      min-height: fit-content;
      max-height: fit-content;
    }
  }

  &__video {
    display: flex;
    justify-content: center;
    width: 100%;
    animation: fade 1.3s;

    @include m($md) {
      align-self: center;
      margin-bottom: 65px;
    }
  }

  &__video-wrap {
    &:not(:last-child) {
      margin-right: 35px;

      @include m(1600) {
        margin-right: 24px;
      }

      @include m($xl) {
        margin-right: 17px;
      }
    }

    video {
      @include m(1600) {
        max-width: 200px;
      }

      @include m(1370) {
        max-width: 170px;
      }

      @include m($xl) {
        max-width: 140px;
      }

      @include m($lg) {
        max-width: 110px;
      }

      @include m($md) {
        max-width: 130px;
      }

      @include m($sm) {
        max-width: 82px;
      }
    }

    &:nth-child(2) {
      margin-top: 39px;

      @include m(1600) {
        margin-top: 17px;
      }

      @include m(1370) {
        margin-top: 14px;
      }

      @include m($xl) {
        margin-top: 12px;
      }

      @include m($lg) {
        margin-top: 10px;
      }

      @include m($md) {
        margin-top: 12px;
      }

      @include m($sm) {
        margin-top: 9px;
      }
    }
  }

  &__info {
    margin-right: 20px;
    max-width: 684px;

    @include m($xl) {
      max-width: 540px;
    }

    @include m($md) {
      margin-right: 0;
      max-width: 100%;
    }
  }

  ul {
    display: flex;
    margin-bottom: 15px;

    li {
      font-weight: 500;
      font-size: 24px;
      color: #ff3;

      + li {
        margin-left: 18px;
      }

      &:first-child {
        animation: fade 0.85s;
      }

      &:last-child {
        animation: fade 0.95s;
      }

      &:nth-child(2) {
        animation: fade 0.9s;
      }

      @include m($xl) {
        font-size: 20px;
      }

      @include m($lg) {
        font-size: 16px;
      }
    }

    @include m($xl) {
      margin-bottom: 12px;
    }
  }

  h1 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 64px;
    line-height: 1.2;
    color: #fff;
    animation: fade 1s;

    @include m(1600) {
      font-size: 48px;
    }

    @include m(1370) {
      font-size: 40px;
    }

    @include m($xl) {
      font-size: 32px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    width: fit-content;
    border-bottom: 1px solid transparent;
    color: #ff3;
    transition: border-bottom 0.2s;

    span {
      margin: 0;
      border-bottom: 1px solid transparent;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
      transition: text-decoration 0.2s;
      animation: fade 1.1s;

      &:hover {
        text-decoration: underline;
      }

      @include m(1600) {
        font-size: 16px;
      }

      @include m($xl) {
        font-size: 14px;
      }
    }

    img {
      display: block;
      margin-top: -2px;
      margin-left: 10px;
      width: 24px;
      height: 24px;
      transition: margin-left 0.2s;
      animation: fade 1.15s;

      @include m(1370) {
        display: none;
      }
    }

    @include m($xl) {
      margin-bottom: 25px;
    }

    @include m($md) {
      margin-bottom: 65px;
    }
  }

  .button {
    animation: fade 1.2s;
  }
}

.title {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9dad9;
  animation: fade 0.8s;

  h2,
  span {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;

    @include m($xl) {
      font-size: 32px;
    }

    @include m($lg) {
      font-size: 24px;
    }
  }

  h2 {
    position: relative;
    padding-left: 378px;

    @include m($xl) {
      padding-left: 62px;
    }

    @include m($lg) {
      padding-left: 46px;
    }
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  }

  .container {
    @include m($lg) {
      padding: 0;
    }
  }

  @include m($lg) {
    margin: 0 17px;
    padding-bottom: 5px;
  }
}

.about {
  margin-bottom: 300px;

  &__info {
    margin: 50px 0 150px;
    padding-left: 378px;
    animation: fade 0.85s;

    p:not(:last-child) {
      margin-bottom: 15px;
    }

    p {
      &:first-child {
        animation: fade 0.85s;
      }

      &:nth-child(2) {
        animation: fade 0.9s;
      }

      @include m($xl) {
        font-size: 18px;
      }

      @include m($lg) {
        font-size: 16px;
      }

      @include m($md) {
        font-size: 14px;
      }
    }

    @include m($xl) {
      margin: 50px 0 100px;
      padding-left: 0;
    }

    @include m($lg) {
      margin: 25px 0;
    }
  }

  &__image {
    animation: fade 0.85s;

    img {
      width: 100%;
      object-fit: cover;

      @include m($xl) {
        height: 300px;
      }

      @include m($lg) {
        height: fit-content;
        min-height: 200px;
      }
    }
  }

  @include m($xl) {
    margin-bottom: 150px;
  }

  @include m($lg) {
    margin-bottom: 100px;
  }
}

.offer {
  margin-bottom: 300px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 150px auto 0;
    max-width: 1020px;

    li {
      position: relative;

      p {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 10;
        width: fit-content;
        font-weight: 600;
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        transform: translate(-50%, -50%);

        @include m($xl) {
          padding: 0 20px;
          font-size: 26px;
        }

        @include m($md) {
          padding: 0 20px;
          font-size: 22px;
        }

        @include m($sm) {
          padding: 0 5px;
          font-size: 16px;
        }
      }

      img {
        transition: all 0.2s;
      }

      &:hover {
        cursor: pointer;

        img {
          filter: brightness(60%);
        }
      }

      &:first-child {
        animation: fade 0.8s;
      }

      &:last-child {
        animation: fade 0.9s;
      }

      &:nth-child(-n+2) {
        @include m($lg) {
          margin-right: 18px;
        }
      }

      &:nth-child(2) {
        animation: fade 0.85s;
      }

      @include m($xl) {
        max-width: 226px;
      }
    }

    @include m($xl) {
      margin: 50px auto 0;
      max-width: 735px;
    }

    @include m($lg) {
      display: flex;
      justify-content: center;
      margin: 25px auto 0;
    }
  }

  @include m($xl) {
    margin-bottom: 150px;
  }

  @include m($lg) {
    margin-bottom: 100px;
  }
}

.mission {
  margin-bottom: 300px;

  &__list {
    margin-top: 50px;

    li {
      display: flex;

      img {
        margin-right: 32px;
        width: 100%;
        max-width: 346px;
        object-fit: cover;

        @include m($xl) {
          margin-right: 0;
          height: 300px;
          max-width: 100%;
        }

        @include m($lg) {
          height: fit-content;
          min-height: 150px;
        }
      }

      h4 {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 24px;
        color: #ff3;

        @include m($lg) {
          font-size: 20px;
        }

        @include m($md) {
          font-size: 18px;
        }

        @include m($sm) {
          font-size: 16px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 100px;

        @include m($lg) {
          margin-bottom: 50px;
        }
      }

      &:first-child {
        animation: fade 0.8s;
      }

      &:last-child {
        animation: fade 0.9s;
      }

      &:nth-child(2) {
        animation: fade 0.85s;
      }

      @include m($xl) {
        flex-direction: column-reverse;
      }
    }

    p {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      @include m($xl) {
        font-size: 18px;
      }

      @include m($lg) {
        font-size: 16px;
      }

      @include m($md) {
        font-size: 14px;
      }
    }

    @include m($lg) {
      margin-top: 25px;
    }
  }

  &__inner {
    @include m($xl) {
      margin-bottom: 20px;
    }

    @include m($lg) {
      margin-bottom: 25px;
    }
  }

  @include m($xl) {
    margin-bottom: 150px;
  }

  @include m($lg) {
    margin-bottom: 100px;
  }
}

.contact {
  margin-bottom: 150px;

  &__info {
    display: flex;
    margin: 50px 0;
    padding-left: 378px;

    li {
      width: 100%;
      max-width: 346px;

      + li {
        margin-left: 32px;

        @include m($lg) {
          margin-left: 0;
        }
      }

      h4 {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 24px;
        color: #ff3;

        @include m($lg) {
          font-size: 20px;
        }

        @include m($md) {
          font-size: 18px;
        }

        @include m($sm) {
          font-size: 16px;
        }
      }

      a {
        color: #fff;

        @include m($lg) {
          font-size: 18px;
        }

        @include m($md) {
          font-size: 16px;
        }

        @include m($sm) {
          font-size: 14px;
        }
      }

      &:not(:last-child) {
        @include m($lg) {
          margin-bottom: 25px;
        }
      }

      &:first-child {
        animation: fade 0.8s;
      }

      &:last-child {
        animation: fade 0.9s;
      }

      &:nth-child(3) {
        a {
          display: inline-block;

          &:last-child {
            margin-left: 25px;
          }
        }
      }

      &:nth-child(2) {
        animation: fade 0.85s;
      }
    }

    @include m($xl) {
      padding-left: 0;
    }

    @include m($lg) {
      flex-direction: column;
      margin: 25px 0;
    }
  }

  &__map {
    animation: fade 1s;

    img {
      width: 100%;
      object-fit: cover;
    }

    @include m($xl) {
      margin: 0 -40px;

      img {
        height: 300px;
      }
    }

    @include m($lg) {
      margin: 0 -17px;

      img {
        height: fit-content;
        min-height: 200px;
      }
    }
  }

  @include m($xl) {
    margin-bottom: 100px;
  }

  @include m($lg) {
    margin-bottom: 50px;
  }
}