.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    background-color: #061012;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    &__list {
        display: flex;
        margin: 0 auto 0 22%;

        li {
            + li {
                margin-left: 43px;
            }
        }

        a {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            transition: color 0.2s;

            &:hover {
                color: #ff3;
            }
        }
    }

    &__social {
        display: flex;

        a {
            transition: fill 0.2s;

            &:hover {
                path {
                    fill: #ff3;
                }
            }
        }

        li {
            + li {
                margin-left: 25px;
            }
        }
    }

    &__copy {
        display: flex;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;

        li:first-child {
            margin-right: 90px;
        }

        li:last-child {
            margin-left: 25px;
        }
    }
}